/* specific for iphone x and other "tall" phones on landscape orientation */
@media screen and (min-width: 680px) and (max-width: 840px) and (orientation: landscape) {
    #auth {
        height: fit-content !important;
    }
}

/* specific for tablets on portrait orientation */
@media screen and (min-width: 640px) and (orientation: portrait) {
    #auth {
        padding-top: 64px !important;
        padding-bottom: 64px !important;
        height: fit-content !important;
    }
}
